.page-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.page-container h1 {
	padding: 1rem;
	font-weight: 900;
	width: 100%;
	border-bottom: 1px solid lightgray;
}

.page-container h2 {
	padding: 1rem 0 0 1rem;
	font-weight: 400;
	width: 100%;
}

.page-container h2 span {
	color: rgba(0, 100, 255, 0.5);
}

.left-3 {
	padding: 1rem;
	width: 35%;
	display: flex;
	flex-direction: column;
	border: 1px solid lightblue;
	border-radius: 0.5rem;
	height: 90vh;
}

.right-7 {
	padding: 1rem;
	width: 64%;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	border: 1px solid lightblue;
	height: 90vh;
}

.select-table-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	padding-top: 1rem;
	border-radius: 0.25rem;
	border: 1px solid rgba(0, 100, 255, 0.1);
	overflow: hidden;
	background-color: rgb(241, 241, 241);
}

.row-code {
	height: 90%;
	border: 1px solid lightgray;
	border-radius: 0.25rem;
	margin: 1rem;
	padding: 1rem;
	outline: none;
}

.selected-row {
	background-color: rgba(0, 100, 255, 0.1);
}
.button-row {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 10%;
	padding: 1rem;
}

.active-row-section {
	display: flex;
	justify-content: center;
}

.rows-body {
	background-color: rgb(246, 251, 255);
}
.row-row {
	padding: 1rem;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
}

.row-row td {
	padding: 0.5rem;
}

.row-header-row th {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.header {
	padding-left: 0.5rem;
	text-align: left;
}
.rows-table {
	table-layout: fixed;
	width: 100%;
}

.rows-header-container {
	border-bottom: 3px solid darkblue;
}

.table-container {
	min-height: 2.2rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	overflow-y: scroll;
}

.row-label-cell {
	white-space: nowrap;
	overflow: hidden;
	width: 80%;
}

.row-active-cell {
	width: 20%;
}

.noscroll {
	padding-right: 18px;
}

.add-row-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}

.new-row-input {
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid lightgray;
	flex: 1;
	outline: none;
}

.rows-button {
	white-space: nowrap;
	border-radius: 0.25rem;
	padding: 0.5rem;
	border: 1px solid rgba(0, 100, 255, 0.3);
	background-color: rgba(0, 100, 255, 0.2);
	cursor: pointer;
}

.rows-button:hover {
	border-radius: 0.25rem;
	padding: 0.5rem;
	border: 1px solid rgba(0, 100, 255, 0.9);
	background-color: rgba(0, 100, 255, 0.8);
	color: white;
}

.filter-input {
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid lightgray;
	width: 100%;
	outline: none;
}
